* {
  box-sizing: border-box;
}

@function vw($px) {
  @return $px / 7.5+vw
};

.s-c {

  &__picker {
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: vw(400);
    padding: vw(20);
    font-size: vw(32);

    &-in-box {
      padding: vw(20) 0;
      display: flex;
      flex-direction: row;
    }

    &-in-label {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: vw(20);
    }

    &-in-input {
      font-size: vw(40);
      height: vw(60);
      line-height: vw(60);
      text-align: right;
      outline: none;
      border: 1px solid #cccccc;
    }

    &-in-button {
      margin-top: vw(20);
      display: flex;
      align-items: center;
      justify-content: center;
      padding: vw(10) vw(230);
      border-radius: vw(6);
      font-size: vw(30);
      border: 1px solid #cccccc;
      background: #99CCCC;
    }
  }
  &__container {
    width: 100%;
    min-height: 100vh;
  }

  &__title {
    color: #c86f67;
    font-size: vw(60);
    text-align: center;
  }

  &__calendar {
    width: 100%;
    font-size: vw(24);

    &-title-c {
      width: 100%;
      display: flex;
      flex-direction: row;
    }

    &-title-item {
      flex: 1;
      padding: vw(10) 0;
      text-align: center;
			background: #99CCCC;  /* 表头色 */
    }

    &-content {
      display: flex;
      flex-direction: column;



      &-col {
        display: flex;
        flex-direction: row;
        border-bottom: 1px solid #99CCCC;  /* 边框色 */

        &-item {
          position: relative;
          height: vw(100);
          flex: 1;
          border-left: 1px solid #99CCCC;  /* 边框色 */
          &:nth-last-child(1) {
            border-right: 1px solid #99CCCC;  /* 边框色 */
          }

          &.active {
            background: #99CCCC;
            color: #FFFFFF;
          }


          &-day {
            text-align: center;
          }

          &-cuo {
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            bottom: vw(10);
            right: vw(10);
            width: vw(50);
            height: vw(50);
            border-radius: 50%;
            border: vw(4) solid #FF6666;
            transform: rotate(-30deg);

            &--inline {
              display: flex;
              align-items: center;
              justify-content: center;
              color: #FF6666;
              font-size: vw(10);
              width: 94%;
              height: 94%;
              border-radius: 50%;
              border: 1px solid #FF6666;
              text-align: center;
            }
          }
        }
      }
    }
  }
}
